{% extends 'base.html.twig' %}

{% block title %}MC Kinesio{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('index') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('index') }}
{% endblock %}
{% block body %}
    <section class="first_section">
        <div class="left_container">
            <div class="image_and_text">
                <p> Début de description de la kinésio</p>
            </div>
        </div>
        <div class="right_container">
            <img src="{{asset('build/images/Test-musculaire-kisnesiologie.jpg') }}"
                alt="Une photo de Mathilde Courgeon, Kinésiologue">
        </div>
    </section>
    <section class="second_section">
        <div>
            <p>
                Petite explication de la kinésio, et petite présentation; <br> Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Fugit totam perspiciatis, fuga vel itaque, quibusdam cumque maxime autem dolorum
                voluptatibus unde. Impedit itaque, minus labore cupiditate unde architecto possimus autem?
            </p>
        </div>
        <span class="button_container">
            <a href="{{ path('kinesiologie') }}" class="button"> Découvrir la kinésiologie </a>
        </span>
    </section>

    <section class="third_section">
        <div>
            <p>
                Vous pouvez réserver directement un créneau ou me contacter pour toute question.
            </p>
        </div>
        <!-- Début de widget en ligne Calendly -->
        <div class="calendly-inline-widget"
            data-url="https://calendly.com/courgeon-mathilde-kinesiologie/rdv-kinesiologie?hide_gdpr_banner=1&primary_color=286f6f&background_color=F9F9F9&text_color=0d4442"
            style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Fin de widget en ligne Calendly -->
    
        <span class="button_container">
    <!-- Début de widget de lien Calendly -->
    <div class="calendly_container">
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <a href=""
        onclick="Calendly.initPopupWidget({url: 'https://calendly.com/courgeon-mathilde-kinesiologie/rdv-kinesiologie?primary_color=286f6f&background_color=F9F9F9&text_color=0d4442'});return false;">Réservation</a>

    </div>
    <!-- Fin de widget de lien Calendly -->
        </span>
        <span class="button_container contact">
            <a href="{{ path('contact')}}" class="button"> Contact </a>
        </span>
    </section>

    <section class="fourth_section">
        <h2>Informations pratiques</h2>
        <div class="infos_container">
            <div>
                <img src="{{asset('build/images/intérieur_cabinet.jpg') }}"
                    alt="L'intérieur du cabinet de Kinésiologie">
            </div>
            <div class="infos_details">
                <p>Mon cabinet est situé au 110, rue du Rempart, à Tours. <br><br>
                    Je suis joignable au <a href="tel:+33749588520">07 49 58 85 20</a> , <br> par <a
                        href="{{path('contact') }}">le formulaire de contact,</a> <br> ou par mail :
                    <script type="text/JavaScript">
                        var part1 = "contact";
                        var part2 = Math.pow(2,6);
                        var part3 = String.fromCharCode(part2);
                        var part4 = "mc-kinesiologie.fr"
                        var part5 = part1 + String.fromCharCode(part2) + part4;
                        document.write("<a href=" + "mai" + "lto" + ":" + part5 + ">" + part1 + part3 + part4 + "</a>");
                    </script>
                    </a>
                </p>
                <span class="button_container">
                    <a href="{{ path('practical_informations') }}" class="button"> En savoir + </a>
                </span>
            </div>
        </div>
    </section>
    <section class="fifth_section">
        <div class="left_container">
            <div class="image_and_text">
                <p> Je suis une phrase d'accroche, c'est cool hein?!!!</p>
            </div>
            <span class="button_container">
                <a href="{{ path('about_me') }}" class="button"> Me découvrir </a>
            </span>
        </div>
        <div class="right_container">
            <img src="{{asset('build/images/mathilde_full_3.png') }}"
                alt="Une photo de Mathilde Courgeon, Kinésiologue">
        </div>
    </section>

    <section class="sixth_section">
        <div id="customers_opinion">
            <section class="slider-wrapper">
                <div id="customers_opinion_title">
                    <p>Avis clients</p>
                </div>

                <img class="slide-arrow" id="slide-arrow-prev" src="{{ asset('build/images/left_arrow.png')}}"
                    alt="Fleche de gauche pour naviguer dans les avis">
                <img class="slide-arrow" id="slide-arrow-next" src="{{ asset('build/images/right_arrow.png')}}"
                    alt="Fleche de droite pour naviguer dans les avis">
                <ul class="slides-container" id="slides-container">
                    {% for opinion in opinions %}
                    <li class="slide">
                        <div>
                            {% for i in 1..opinion.note %}
                            <img class="star" src="{{ asset('build/images/star.png')}}" alt="">
                            {% endfor %}
                        </div>
                        <div class="customers_opinion_description">
                            {{ opinion.description }}
                        </div>
                        <div class="customers_opinion_name">
                            {{ opinion.clientName }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </section>
{% endblock %}