{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('practical_informations') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('practical_informations') }}

{% endblock %}

{% block title %}Informations pratiques{% endblock %}

{% block body %}
<section class="first_section">
    <div class="first_section_infos_container">
        <div class="image_and_text">
            <div class="image">
                <img src="{{asset('build/images/cabinet.png') }}"
                    alt="L'intérieur du cabinet de Kinésiologie">
            </div>
            <div class="right_text">
                <h3>
                    En l’absence de salle d’attente, je vous recevrai à l’heure exacte de notre rendez-vous.
                </h3>
                <p>La séance se déroule habillée.</p>
                <p>
                    Chaque séance est unique car il existe une grande
                    variété
                    de techniques qui pourront être utilisées. Cependant, il faut prévoir une tenue confortable où vous
                    vous
                    sentirez libre de bouger, car nous pourrons être amenés à tester divers groupes musculaires du haut
                    ou
                    du
                    bas du corps, en station debout, assise ou allongée.
                </p>
            </div>
        </div>
        <div class="text">
            <div>
                <h2>Déroulement d'une séance</h2>
                <ol class="grid">
                    <li>
                        <div>
                            <div class="grid_icon">
                                <img src="{{asset('build/images/discuter.png') }}"
                                    alt="Une icone de bulles de discussion">
                            </div>
                            <p>
                                Nous débutons par un temps de discussion qui vous permet d’exposer votre problématique
                                et
                                d’établir
                                votre objectif de séance.
                            </p>

                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="grid_icon">
                                <img src="{{asset('build/images/chercher.png')}}" alt="Une icone de loupe">
                            </div>
                            <p>
                                L’objectif prioritaire qui est déterminé pour la séance, sera précis, positif, et
                                motivant.
                                Il
                                sera
                                le fil conducteur, permettant
                                de trouver par le biais du test musculaire les déséquilibres en jeu, et les équilibrages
                                à
                                apporter,
                                tout en explorant les
                                liens et prises de conscience éventuels.
                            </p>

                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="grid_icon">
                                <img src="{{asset('build/images/massage.png')}}" alt="Une icone de loupe">
                            </div>
                            <p>
                                Les équilibrages peuvent être le contact de points d’acupression, des mouvements du
                                corps ou
                                oculaires, des sons, des visualisations,
                                des prises de conscience autour d’un mot, d’une phrase... La personne est donc invitée à
                                lâcher
                                le
                                mental et à entrer dans le
                                monde des ressentis.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="grid_icon"><img src="{{asset('build/images/arrows.png') }}" alt="">
                                <img src="{{asset('build/images/eye.png')}}" alt="Une icone de loupe">
                                <img src="{{asset('build/images/infinite_arrow.png')}}" alt="">

                            </div>
                            <p>
                                Enfin, des exercices simples à faire à la maison (mouvements, phrases à répéter, actes
                                symboliques à
                                effectuer…)
                                visant à prolonger le travail entrepris en séance peuvent être proposés.
                            </p>
                        </div>
                    </li>
                    <li id="last_line">
                        <div>
                            <div class="grid_icon"><img src="{{asset('build/images/icon_lotus.png') }}" alt="">
                            </div>
                            <p>
                                A l’issue de la séance, la personne peut déjà ressentir un apaisement, une détente
                                intérieure et
                                corporelle.
                                L’objectif défini en début de séance ne doit plus mettre la personne en stress.
                            </p>
                        </div>
                    </li>
                </ol>
                <p>
                    <i>Vous devenez alors un acteur autonome et responsable de votre bien-être retrouvé et du changement
                        à
                        installer.</i>
                </p>
                <p>
                    Les effets sont variables d’une personne à l’autre. Parfois spectaculaires, parfois plus discrets.
                </p>
                <p>
                    Pour un même objectif, il peut être nécessaire de faire plusieurs séances, mais chaque cas est
                    particulier :
                    de 1 à 3 séances pour un objectif « ponctuel », 5 ou 6 séances pour un travail plus « approfondi »,
                    et
                    davantage pour un « travail de fond », chacune espacée de 3 à 4 semaines, ou au rythme de la
                    personne.
                </p>
                <p>
                    Il est à préciser que lors de la séance, il n’y a aucun diagnostic, aucune interprétation, ni
                    induction
                    du
                    mental de la part du kinésiologue. Celui-ci chemine uniquement en fonction des réponses du corps de
                    la
                    personne
                    et selon des protocoles définis.
                </p>
            </div>
            <div>
                <h4>
                    Séance avec les enfants
                </h4>
                <p>
                    La présence de la maman ou du papa est obligatoire lors d'une séance pour les enfants de moins de 7 ans.
                </p>
                <p>
                    Pour le bon déroulement des soins, un seul enfant est autorisé au sein de mon cabinet (celui qui a
                    rendez-vous).
                </p>
                <p>
                    La séance enfant est de durée plus courte que pour un adulte.
                </p>
                <p>
                    A savoir que si l’enfant n’est pas en mesure de participer à la séance (à cause son âge ou parce
                    qu’il
                    n’est
                    pas motivé), celle-ci se fera en transfert sur le parent (en ayant au préalable son autorisation
                    d’effectuer la séance).
                </p>
            </div>
        </div>
    </div>
</section>
<section class="second_section">
    <div class="second_section_container">
        <div class="second_section_left">
            <h3>Tarifs</h3>
        </div>
        <div class="second_section_right">
            <p>💥📢<strong> Attention </strong>📢💥</p>
            <p><strong>A partir du 15 mars 2025 : changement de tarifs.</strong></p>
            <p>Séance Kinésiologie : <strong>65€</strong> (hors suivi en cours)</p>
            <p>Séance Kinésiologie étudiants ou demandeurs d'emploi : <strong>60€</strong></p>
            <br>
            <p>Jusqu'au 15 mars 2025 : </p>
            <p>Séance Kinésiologie, tarif unique : <strong>60€</strong></p>
        </div>
        <div id="border_bottom"></div>
    </div>
    <div class="second_section_container">
        <div class="second_section_left">
            <h3>Moyens de paiement</h3>
        </div>
        <div class="second_section_right">
            <p>
                Le règlement peut se faire en chèque, en espèce ou par virement.
            </p>
            <p>
                Carte bancaire non-acceptée.
            </p>
            <p>
                Vous pouvez également vous renseigner auprès de votre mutuelle. Certaines d’entre elles remboursent
                partiellement les frais
                de médecine douce. Je vous délivrerai une facture sur demande si vous en avez besoin.
            </p>
        </div>

    </div>
</section>

<section class="third_section">
    <h2>Informations pratiques</h2>
    <div class="infos_container third_section_infos_container">
        <div class="map-responsive" id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9084.811818746504!2d0.7008523428001547!3d47.39378256088674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fcd44924abd803%3A0xdb4758b1b08c87d4!2s110%20Rue%20du%20Rempart%2C%2037000%20Tours!5e0!3m2!1sfr!2sfr!4v1680182397919!5m2!1sfr!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <div class="infos_details">
            <p>Mon cabinet est situé au <strong>110, rue du Rempart</strong>, 37000 Tours. <br>
                
            </p>
            <ul>
                <p>
                   <strong>Accès :</strong>
                </p>
                <li>
                    A 10 minutes à pied de la gare (750m)
                </li>
                <li>
                    Arrêt de bus à quelques mètres (arrêt "Rempart", ligne 4 et 15) et sur le boulevard Heurteloup à 1
                    minute
                    (arrêt "Mirabeau", multiples lignes)
                </li>
                <li>
                    Sortie "Tours Centre" depuis l'autoroute A10 à proximité immédiate
                </li>
            </ul>
            <p>
                Je suis joignable au <a href="tel:+33749588520">07 49 58 85 20</a> , <br> par <a
                    href="{{path('contact') }}#before_contact">le formulaire de contact,</a> <br> ou par mail :
                <script type="text/JavaScript">
                    var part1 = "contact";
                    var part2 = Math.pow(2,6);
                    var part3 = String.fromCharCode(part2);
                    var part4 = "mc-kinesiologie.fr"
                    var part5 = part1 + String.fromCharCode(part2) + part4;
                    document.write("<a href=" + "mai" + "lto" + ":" + part5 + ">" + part1 + part3 + part4 + "</a>");
                </script>
                </a>
            </p>
            <p>
                Je vous reçois de 09h00 à 19h00 du lundi au vendredi, <br> et de 09h00 à 12h30 le samedi.
            </p>
            <p>
                Le cabinet n'ayant pas d'accès PMR, je peux exceptionnellement me déplacer dans une zone proche de
                Tours.
                Je vous invite à me contacter directement pour connaître les modalités et tarifs spécifiques.
            </p>
        </div>
    </div>
</section>
<section class="fourth_section">
    <h2>Réservation</h2>
    <div class="infos_container">
        <div class="infos_details">
            <p>Vous pouvez réserver directement un créneau ou me contacter pour toute question.
            </p>
        </div>
        <span class="button_container">
            <a href="{{ path('contact') }}" id="button">Réservation et contact </a>
        </span>
    </div>
</section>

{% endblock %}