{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('practical_informations') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('practical_informations') }}

{% endblock %}

{% block title %}Informations pratiques{% endblock %}

{% block body %}
<section class="first_section">
    <h2>Déroulement d'une séance</h2>
    <div class="infos_container">
        <div>
            <img src="{{asset('build/images/intérieur_cabinet.jpg') }}" alt="L'intérieur du cabinet de Kinésiologie">
        </div>
        <div class="infos_details">
            <p>Pour que le savoir-faire du praticien ait l’impact recherché, le déroulement de la séance se décompose
                généralement en 4 phases.


                Etape 1 : Echange et compréhension

                Lorsqu’un individu vient consulter un kinésiologue pour une première séance, un temps d’échange est
                indispensable. L’individu doit présenter en détail la raison de sa venue, son état mental, ses
                difficultés pour que le praticien puisse identifier les blocages émotionnels de son client, il doit
                identifier le problème. Si besoin, le kinésiologue peut guider une partie de l’échange en posant
                quelques questions. Ainsi, il aide la personne à mettre des mots sur ses besoins et le type de
                déséquilibre qu’il souhaite dépasser.
                Grâce à ses compétences, le kinésiologue peut intervenir pour soulager différents types de mal-être :

                Des problèmes psycho-émotionnels : stress, peurs, addictions, manque de confiance en soi …
                Des maux physiques ou énergétiques : insomnies, addictions à la cigarette …
                Des difficultés d’apprentissage : problèmes de concentration, difficultés d’organisation …

                Ensemble, ils formulent l’objectif principal de la visite. Le choix de l’objectif sert alors de base
                pour mettre en place une stratégie globale de traitement et démarrer la 2ème étape de la séance de
                kinésiologie.
                Etape 2 : Test musculaire

                C’est lors de cette étape que le travail et la maîtrise spécifique du kinésiologue prend tout son sens.
                La kinésiologie, ou science du mouvement, est une pratique non conventionnelle qui permet de décrypter
                la mémoire émotionnelle du corps grâce au toucher.
                Pour cela, le ou la kinésiologue effectue un test de toncité des muscles que l’on appelle dans la
                profession « le test musculaire ». Le but de cette évaluation est de découvrir de potentielles
                faiblesses au niveau de certains muscles, pour mieux déterminer l’ambiance émotionnelle associée.
                En effet, selon la kinésiologie, chaque émotion ressentie au cours de la vie est enregistrée par corps
                et viendra par la suite conditionner nos schémas comportementaux. Il s’agit là de la mémoire corporelle.
                En identifiant précisément une faiblesse musculaire, il est alors possible d’identifier une source de
                stress pour ensuite libérer ce stress et mettre fin au déséquilibre énergétique.
                Le kinésiologue pratique le test musculaire de façon extrêmement simple. Il exerce une pression douce et
                indolore sur un muscle. Comme un dialogue profond avec le corps et ses blocages émotionnels, grâce aux
                tests le kinésiologue part à la recherche d’informations sur l’équilibration dont aura besoin la
                personne pour atteindre son objectif. Ainsi, le praticien cherche à mieux comprendre ce qui se passe
                chez la personne au niveau structurel, énergétique et émotionnel. Le kinésiologue via cette technique
                agit sur une émotion, la conscience et les muscles, l’objectif étant de dépasser nos schémas aliénants
                pour atteindre notre plein potentiel sur l’objectif à réaliser.
                Etape 3 : Rééquilibrage

                Une fois les blocages détectés, le kinésiologue peut poursuivre la séance. Pour cela il est libre
                d’utiliser plusieurs outils et équilibrations manuelles pour libérer le stress :

                Points d’acupressure ;
                Balayage des méridiens ;
                Mouvements du corps ;
                Mouvements oculaires ;
                Stimulation de points réflexes ;
                Points neuro-vasculaires ;
                Points neuro-lymphatiques ;
                Visualisation ;
                Libération émotionnelle ;
                Prise de conscience autour d’un thème ou d’un mot
                Lecture ;
                Jeux de rôle.

                Toutes ces techniques de rééquilibrage empruntées aux pratiques de soins non conventionnelles couramment
                appelées « médecines douces » d’orient et d’occident (médecine traditionnelle chinoise, acupuncture,
                chiropractie…), ont pour but de libérer le stress emmagasiné dans le corps et l’esprit de la personne au
                cours de sa vie. C’est un moment où l’individu est amené à lâcher-prise totalement et à se concentrer
                sur son ressenti et ses émotions en pleine conscience. Il peut alors, accompagné par les gestes du
                kinésiologue, laisser les tensions émotionnelles et psychiques s’évacuer.
                Etape 4 : Ancrage

                Si les premiers résultats peuvent d’ores et déjà se faire ressentir chez certains individus, le travail
                du kinésiologue n’est toutefois pas encore terminé après la phase de rééquilibrage.
                En effet, pour que les bienfaits de la consultation perdurent, il ne faut pas négliger la dernière étape
                : l’ancrage. Le professionnel vérifie les résultats de rééquilibration avec un test du tonus musculaire
                post-équilibration.
                En fin de séance, il échange avec son client et propose différents exercices de mouvement à faire
                régulièrement à domicile. Ce suivi individualisé peut comprendre des exercices physiques, des exercices
                de relaxation et de respiration, mais jamais des conseils sur l’hygiène de vie en général (activité
                physique, nutrition) car ce n’est pas le rôle du kinésiologue qui n’est pas un professionnel de santé.
                Pour ancrer le bien-être et un rééquilibrage énergétique efficace, la personne doit s’inscrire dans de
                nouveaux schémas plus positifs.
            </p>
            <ul>Prévoir (si possible) :
                <li>une gourde</li>
                <li>des chaussettes</li>
                <li>des bonbons pour mon conjoint</li>
            </ul>
        </div>
    </div>
</section>
<section class="second_section">
    <div class="second_section_left">
        <h3>Tarifs</h3>
    </div>
    <div class="second_section_right">
        <p>Adultes : 65€</p>
        <p>Enfants: 60€</p>
    </div>
</section>

<section class="third_section">
    <h2>Informations pratiques</h2>
    <div class="infos_container third_section_infos_container">
        <div class="map-responsive" id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9084.811818746504!2d0.7008523428001547!3d47.39378256088674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fcd44924abd803%3A0xdb4758b1b08c87d4!2s110%20Rue%20du%20Rempart%2C%2037000%20Tours!5e0!3m2!1sfr!2sfr!4v1680182397919!5m2!1sfr!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <div class="infos_details">
            <p>Mon cabinet est situé au 110, rue du Rempart, à Tours. <br><br>
                Je suis joignable au <a href="tel:+33674752172">06 00 00 00 00</a> , par <a
                    href="{{path('contact') }}">le formulaire de contact</a> ou par mail : <a href="mailto:"><span
                        style="unicode-bidi:bidi-override; direction: rtl;">
                        moc.tset@tcatnoc</span></a>
            </p>
            <p>
                Je vous reçois de 8h30 à 18h00 du lundi au samedi.
            </p>
            <p>
                Mon local ne me permet malheureusement pas de recevoir des personnes en fauteuil roulant, mais je peux me déplacer à domicile. <br> Contactez-moi pour en discuter!
            </p>
        </div>
    </div>
</section>
<section class="fourth_section">
    <h2>Réservation</h2>
    <div class="infos_container">
        <div class="infos_details">
            <p>Vous pouvez réserver directement un créneau ou me contacter pour toute question. 
            </p>
        </div>
        <!-- Début de widget de badge Calendly -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/kevinroig/test1', text: 'Planifier du temps avec moi', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Fin de widget de badge Calendly -->
        <span class="button_container">
            <a href="{{ path('contact') }}" id="button"> Réservation </a>
        </span>
    </div>
</section>

{% endblock %}