{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('kinesiologie') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('kinesiologie') }}
{% endblock %}

{% block title %}La kinésiologie{% endblock %}

{% block body %}
<section class="first_section">
    <h1>La Kinésiologie : les origines</h1>
    <div class="infos_container">
        <div class="infos_details">
            <p>
                La kinésiologie est née aux Etats-Unis. Elle est le fruit de découvertes et de recherches croisées
                entre les connaissances énergétiques de la médecine traditionnelle chinoise et des techniques
                occidentales
                récentes sur le corps et le cerveau. Elle s’est développée et enrichie au fil des décennies, menant à la
                création de différentes branches spécialisées.

            </p>

            <p>
                A partir des années 1920-1930, la relation d’interdépendance entre les différents systèmes
                (structurel, lymphatique, neurologique, énergétique, psychologique et biochimique) est mis en évidence.
            </p>
            <p>
                C’est en 1964 que le chiropracteur américain, Dr George Goodheart, démontre l’interaction entre le
                stress et
                le tonus musculaire, créant ainsi un outil de base de son travail : « le test musculaire ».
            </p>
            <p>
                Ainsi, en 1970, son élève, le Dr John THIE, met à la disposition des familles cette technique utilisable
                par tous. Il crée le <strong>« Touch For Health » (TFH)</strong> ou « La Santé par le Toucher ».
            </p>
            <p>
                Puis dans les années 1970-1980, l’outil <strong>« Concept 3 en 1 »</strong> voit le jour. Gordon Stokes,
                Daniel Whiteside
                et Candace Callaway démontrent que de nombreux problèmes physiques trouvent leur origine dans des
                émotions
                qui peuvent bloquer l’expression du potentiel de la personne.
            </p>
            <p>
                Une autre personne qui contribua au développement de la Kinésiologie fut le Dr Paul Dennison,
                spécialiste
                des problèmes d’apprentissages (lecture, compréhension, dyslexie …). Il mit en place avec Gail DENNISON
                l’Education Kinesthésique et créa la méthode<strong> Brain Gym©</strong>. Grâce à l’efficacité de cette
                méthode, l’apprentissage
                se transforme en plaisir d’apprendre, pour tous ceux qui suivent ou non un cursus scolaire. Les parents,
                enseignants, orthophonistes, psychomotriciens, professionnels de l’éducation, etc., pourront être
                concernés
                par cette approche.
            </p>
            <h2>
                La « Santé par le Toucher », l’Edu-kinésiologie et le « Concept 3 en 1 » constituent les trois
                fondamentaux
                historiques de la kinésiologie.
            </h2>
            <p>
                Wayne Topping, docteur en géologie, s’est également basé sur le TFH, la naturopathie, et d’autres
                branches
                de la kinésiologie pour développer des cours très intenses consacrés à la gestion du stress, de soi-même
                et
                de sa vie et regroupés sous le nom de Wellness Kinesiology, le<strong> Stress Release</strong>.
            </p>
            <p>
                Depuis ses débuts, la Kinésiologie a donc beaucoup évolué et donné naissance à de nombreuses pratiques,
                qui s’étoffent encore aujourd’hui au travers d'approches innovantes intégrant les nouvelles avancées des
                sciences notamment en neurosciences.
            </p>
            <div class="infos_image">
                <img src="{{asset('build/images/Test-musculaire-kisnesiologie.jpg') }}"
                    alt="Un Kinésiologue qui teste un client.">
            </div>
            <h2>
                Qu’est-ce que la Kinésiologie et son outil principal, le test musculaire ?
            </h2>
            <p>
                Le principal « outil » du kinésiologue est le test musculaire qui va lui permettre d’évaluer et
                d’identifier
                les dérèglements structurels, émotionnels et énergétiques.
            </p>
            <p>
                Ce test musculaire s’effectue par un contact très léger le plus souvent sur l’avant-bras (ou un autre
                muscle).
            </p>
            <p>
                En effet, le stress affaiblit la tonicité musculaire : chaque muscle de notre corps est en relation avec
                une
                ou plusieurs fonctions physiologiques telles que les  systèmes nutritionnel, nerveux, lymphatique,
                vasculaire, ou encore avec les organes internes, ou les méridiens… 
            </p>
            <p>
                Le test musculaire d’un muscle indicateur permet d’établir « un dialogue » avec votre corps et sa
                mémoire en
                laissant de côté le mental :  notre corps connaît mieux que quiconque ce dont nous avons précisément
                besoin
                et a son propre langage qui s’exprime de différentes manières.
            </p>
            <p>
                Les émotions sont une interface entre notre corps et notre cerveau. Les réactions du corps en relation
                avec un
                événement de notre vie peuvent parfois nous échapper. Vous ne vous attendiez pas du tout à cette
                mauvaise nouvelle,
                vous devez vous asseoir et tout d’un coup vous vous exclamez « les bras m’en tombent ! », ou encore vous
                en devenez
                « muet ». Qui n’a pas déjà ressenti « la trouille au ventre » ? « S’est fait de la bile » ? En a eu
                « plein le dos » ?
                Ces sensations représentent cependant des messages qu’il nous appartiendra de reconnaître, accueillir,
                pour les transformer.
                Ce n’est pas chose facile car ce n’est pas ce que nous avons appris à faire, car exprimer nos émotions
                n’est pas bien vu d
                ans notre société. Pourtant en voulant contrôler nos émotions, nous renforçons leur présence, le
                mal-être s’installe durablement.
                Devenir observateur sans juger et sans s'opposer nécessite de l’entrainement, qui sera payant à long
                terme. Un cercle vertueux
                pourra se mettre en place : en réduisant le stress, nous nous permettons d’oser sortir de sa zone de
                confort, de faire des
                choix cohérents et renforcer l’estime de soi. 
            </p>
            <p>
                Grâce à ce test musculaire, je vais donc établir un dialogue avec votre corps afin :
            </p>
            <ul>
                <li>d’interroger la mémoire du corps, véritable base d’informations liées à notre histoire de vie</li>
                <li>d’accéder à la racine d’une cause émotionnelle non résolue</li>
                <li>d’identifier les problématiques sous-jacentes</li>
                <li>de définir les corrections et équilibrations nécessaires…</li>
            </ul>
            <p>
                Ainsi dans votre séance, vous avez un espace de parole où je deviens « l’interprète » de vos maux/mots.
            </p>
        </div>
    </div>
</section>
<section class="second_section">
    <h1>A qui s'adresse cette pratique ?</h1>
    <div class="infos_container">
        <div class="infos_image">
            <img src="{{asset('build/images/ado_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h2>Une méthode douce, adaptée à tous : enfant, adolescent, adulte, sénior</h2>
            <p>
                Il n’y a pas d’âge requis pour une séance de kinésiologie.
            </p>
            <p>
                Pour des personnes ne pouvant être elles-mêmes testées (pour des raisons d’âge ou d’handicap par
                exemple),
                la séance se pratique « en transfert ».
            </p>
            <p>
                Le test musculaire est lié à une réponse musculaire, à la tonicité d’un muscle. Il n’est donc pas
                possible de le
                pratiquer durant toute une séance un jeune enfant. La séance se déroule « en équipe » : le parent,
                l’enfant et le
                kinésiologue. Le parent a de fait un lien énergétique avec son bébé ou son enfant. Le kinésiologue, lui,
                travaille
                par le biais du parent par le transfert.
            </p>
            <p>
                Le parent peut alors être « testé » à la place de la personne, en instaurant tout simplement un contact
                spécifique.
                Les équilibrations se feront quant à elles sur l’enfant s’il le permet, ou à défaut sur le parent.
            </p>
        </div>
    </div>
    <div class="border_bottom">
    </div>
    <div class="infos_container_2">
        <div class="infos_image">
            <img src="{{asset('build/images/adulte_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h2>Les domaines d’intervention</h2>
            <p>Le recours à la Kinésiologie peut aider à surmonter les événements difficiles de la vie et à prendre
                conscience de
                ses ressources et de son potentiel :
            </p>
            <ul>
                <li>Retrouver son équilibre, perturbé par les différents stress de la vie </li>
                <li>Faciliter l'apprentissage</li>
                <li>Augmenter ses capacités d'adaptation</li>
                <li>Améliorer ses résultats et ses performances (sportives ou autres)</li>
                <li>Libérer sa créativité et sa capacité à choisir</li>
                <li>Développer la confiance et l'estime de soi</li>
                <li>Vivre des relations plus harmonieuses</li>
                <li>Être mieux, plus zen, davantage dans le bien-être</li>
            </ul>
            <p>
                Voici quelques exemples de problématiques :
            </p>
            <ul>
                <li>Peurs / phobies / burn-out</li>
                <li>Troubles du sommeil, fatigue, épuisement mental</li>
                <li>Confiance en soi</li>
                <li>Développement personnel</li>
                <li>Trouble de l'apprentissage, concentration</li>
                <li>Troubles alimentaires</li>
                <li>Stress, angoisses</li>
                <li>Objectifs sportifs, scolaires, sociaux</li>
                <li>Croyances limitantes</li>
                <li>Traumatismes, douleurs chroniques, troubles hormonaux</li>
            </ul>
        </div>
    </div>
</section>
<section class="third_section">
    <h1>Les techniques que j'utilise</h1>
    <div class="my_infos_details">
        <p>
            J’ai choisi l’<strong>ECAP de Nantes – Ecole de Kinésiologie Internationale</strong>, comme centre de
            formation.
        </p>
        <p>
            En totalisant quelques 600h de formation, je propose de mettre à votre disposition les techniques que j’ai
            apprises,
            mon écoute et ma bienveillance, pour vous accompagner à trouver vos propres ressources et les consolider sur
            le
            chemin de votre évolution.
        </p>
        <p>
            Je continue de me former régulièrement afin d’enrichir mes compétences, proposer de nouveaux outils et
            valider mes acquis.
        </p>
    </div>
    <div class="infos_container">
        <div class="infos_image">
            <img src="{{asset('build/images/ado_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h2>Touch For Health</h2>
            <p>
                <strong> Proficiency obtenue en septembre 2022, reconnue au niveau international par l’IKC
                    (Collège International de Kinésiologie ) </strong>
            </p>
            <p>
                La Santé par le Toucher : <a href="https://www.tfh.fr" target="_blank">www.tfh.fr</a>
            </p>
            <p>
                Le TFH est une méthode basée sur la Médecine Traditionnelle Chinoise qui associe chaque méridien
                énergétique à un groupe
                musculaire. Elle a pour but de ramener un équilibre au sein du corps, en régulant le stress et la
                vitalité de la personne.
            </p>
            <p>
                Un ensemble de muscles est testé pour en vérifier la tonicité, puis un bilan va être établi, afin
                déterminer quels
                sont les méridiens en vide ou en excès d’énergie sur une problématique donnée.
            </p>
            <p>
                Pour l’équilibration, je peux être amenée à utiliser la stimulation de zones réflexes
                (neuro-lymphatiques),
                le contact de point d’acupuncture ou de points neuro-vasculaires, visualisation de couleur, brossage
                énergétique du
                méridien… Il peut en résulter également une meilleure compréhension de la situation problématique.
            </p>
            <h3>TFH & Energies tibétaines</h3>
            <p>
                Les Tibétains, dans leur système médical, utilisent beaucoup de techniques (mantras de guérison,
                les plantes et les fleurs, les exercices de vitalité et l’acupuncture).
            </p>
            <p>
                Cette approche s’en inspirant, permet de tester, débloquer et activer plusieurs types d’énergie qui
                circulent dans notre
                corps, en forme de 8, et apporte un bien-être et peut soulager certaines douleurs.
            </p>
            <p>
                Cette approche considère également le pouvoir guérisseur du son ; La circulation énergétique en spirale
                au-dessus de l
                a tête ; Les vortex tournoyants. ; L’activation des méridiens tibétains.
            </p>
        </div>
    </div>
    <div class="border_bottom_2">
    </div>
    <div class="infos_container_2">
        <div class="infos_image">
            <img src="{{asset('build/images/adulte_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h3>Three In One Concepts© - Concepts 3 en 1</h3>
            <p>Cette approche est davantage centrée sur les émotions. La personne en séance est sa propre autorité ou le
                devient à nouveau.
                Par prise de conscience et par compréhension de soi et de l’autre, cette technique propose de lui
                redonner le
                choix là où elle pensait ne plus en avoir. Elle a pour but de favoriser la prise de conscience pour se
                libérer
                de ses scénarios répétitifs et de son système de croyance limitant.
            </p>
            <p>
                On parle de l'intégration du Corps, du Mental et de l'Esprit.
            </p>
            <p>
                Site officiel : <a href="http://threeinoneconcepts.fr" target="_blank">www.threeinoneconcepts.fr</a>
            </p>
        </div>
    </div>
    <div class="border_bottom_2">
    </div>
    <div class="infos_container_2">
        <div class="infos_image">
            <img src="{{asset('build/images/adulte_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h3>Des mouvements d’Edu-Kinésiologie - BRAIN GYM©</h3>
            <p>Basée sur le mouvement, elle est centrée autour de 26 activités simples (dont certaines se basent sur
                des positions
                standards de yoga et de pratique de la médecine traditionnelle chinoise). Elle s’adresse à toute
                personne,
                de tout âge, confrontée à des situations nouvelles et stressantes dans la vie familiale, sociale,
                professionnelle ou scolaire.
            </p>
            <p>
                L’application de ces mouvements permet de coordonner la communication entre le corps et les fonctions
                cognitives.
                La latéralité et la coopération de nos côtés droit et gauche (yeux, oreilles, mains, jambes,
                hémisphères) s’équilibrent ainsi.
            </p>
            <p>
                Cette approche permet d’améliorer les compétences d’apprentissage, de concentration, fait passer de l’effort à 
                la facilité. Par le mouvement, de nouvelles connexions se créent, qui vont soutenir notre objectif, 
                au lieu que le stress bloque l’accès à ses compétences.             
            </p>
        </div>
    </div>
    <div class="border_bottom_2">
    </div>
    <div class="infos_container_2">
        <div class="infos_image">
            <img src="{{asset('build/images/adulte_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h3>Stress Release®</h3>
            <p>Libérer et gérer son stress, en utilisant des techniques simples facilement utilisables sur soi-même en séance, 
                puis chez soi (affirmations, rotations oculaires, tapotements...).
            </p>
            <p>
                ​Cet outil de la Kinésiologie du bien-être (Wellness Kinesiology) a pour but d’identifier et de libérer les stress 
                qui empêchent d’avancer et d’atteindre ses objectifs : conflits intérieurs cachés, émotions bloquées, croyances limitatives, 
                gestion du temps... Il permet aussi un travail de libération des peurs irraisonnées, dépendances (tabac, sucre...) et des 
                comportements obsessionnels.
            </p>
        </div>
    </div>
    <div class="border_bottom_2">
    </div>
    <div class="infos_container_2">
        <div class="infos_image">
            <img src="{{asset('build/images/adulte_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h3>Formation «  Apprendre à mieux communiquer », basé sur les enseignements de Jacques Salomé (Méthode ESPERE).</h3>
            <p>Une approche permettant l’amélioration possible de la qualité des relations avec soi-même et avec autrui: « de mieux communiquer 
                pour mieux être ; de mieux être pour mieux vivre ; de mieux vivre pour ne plus survivre ; de mieux apprendre à mettre en commun… »
            </p>
            <p>
                Site officiel de Jacques Salomé – Psychosociologue et écrivain : <a href="https://www.j-salome.com/espere" target="_blank"></a>/www.j-salome.com/espere
            </p>
        </div>
    </div>
</section>

{% endblock %}