{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('kinesiologie') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('kinesiologie') }}
{% endblock %}

{% block title %}La kinésiologie{% endblock %}

{% block body %}
<section class="first_section">
    <h2>La Kinésiologie historique</h2>
    <div class="infos_container">
        <div class="infos_image">
            <img src="{{asset('build/images/Test-musculaire-kisnesiologie.jpg') }}"
                alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <p>Dans les années 60 aux Etats-Unis, le Dr Goodheart , Chiropracteur a créé des tests de Kinésiologie
                Appliquée pour l’enseigner à des professionnels de la santé appelés "Doctors".(cf www.icak.com )

                Un de ses élèves nommé John Thie a décidé de rendre accessible à tous le test musculaire. Il a créé Le
                Touch For Health qui utilise le test musculaire et les points d’acupressure de l’énergétique chinoise
                pour permettre à tout un chacun d’identifier par test musculaire les réponses de vitalité ou d’énergie
                du corps. Au même titre que la perte de la vitalité ressentie dans nos jambes quand nous apprenons une
                mauvaise nouvelle et que nous sommes obligés de nous asseoir pour ne pas défaillir. Le Touch For Health
                est donc au fondement des kinésiologies spécialisées®.

                Les origines du stress étant multiples, de nouvelles méthodes de kinésiologie spécialisée ont vu le jour
                notamment au travers de la kinésiologie dite émotionnelle ou la kinésiologie éducative.

                Aujourd’hui, la kinésiologie regroupent de nombreux cursus de formation que l’étudiant est libre de
                choisir en France ou à l’étranger. <br><br>
            </p>
        </div>
    </div>
</section>
<section class="second_section">
    <h2>A qui s'adresse cette pratique ?</h2>
    <div class="infos_container">
        <div class="infos_image">
            <img src="{{asset('build/images/ado_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h3>Aux adolescents</h3>
            <p>Dans les années 60 aux Etats-Unis, le Dr Goodheart , Chiropracteur a créé des tests de Kinésiologie
                Appliquée pour l’enseigner à des professionnels de la santé appelés "Doctors".(cf www.icak.com )

                Un de ses élèves nommé John Thie a décidé de rendre accessible à tous le test musculaire. Il a créé Le
                Touch For Health qui utilise le test musculaire et les points d’acupressure de l’énergétique chinoise
                pour permettre à tout un chacun d’identifier par test musculaire les réponses de vitalité ou d’énergie
                du corps. Au même titre que la perte de la vitalité ressentie dans nos jambes quand nous apprenons une
                mauvaise nouvelle et que nous sommes obligés de nous asseoir pour ne pas défaillir. Le Touch For Health
                est donc au fondement des kinésiologies spécialisées®.

                Les origines du stress étant multiples, de nouvelles méthodes de kinésiologie spécialisée ont vu le jour
                notamment au travers de la kinésiologie dite émotionnelle ou la kinésiologie éducative.

                Aujourd’hui, la kinésiologie regroupent de nombreux cursus de formation que l’étudiant est libre de
                choisir en France ou à l’étranger. <br><br>
            </p>
        </div>
    </div>
    <div class="border_bottom">
    </div>
    <div class="infos_container_2">
        <div class="infos_image">
            <img src="{{asset('build/images/adulte_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h3>Aux adultes</h3>
            <p>Dans les années 60 aux Etats-Unis, le Dr Goodheart , Chiropracteur a créé des tests de Kinésiologie
                Appliquée pour l’enseigner à des professionnels de la santé appelés "Doctors".(cf www.icak.com )

                Un de ses élèves nommé John Thie a décidé de rendre accessible à tous le test musculaire. Il a créé Le
                Touch For Health qui utilise le test musculaire et les points d’acupressure de l’énergétique chinoise
                pour permettre à tout un chacun d’identifier par test musculaire les réponses de vitalité ou d’énergie
                du corps. Au même titre que la perte de la vitalité ressentie dans nos jambes quand nous apprenons une
                mauvaise nouvelle et que nous sommes obligés de nous asseoir pour ne pas défaillir. Le Touch For Health
                est donc au fondement des kinésiologies spécialisées®.

                Les origines du stress étant multiples, de nouvelles méthodes de kinésiologie spécialisée ont vu le jour
                notamment au travers de la kinésiologie dite émotionnelle ou la kinésiologie éducative.

                Aujourd’hui, la kinésiologie regroupent de nombreux cursus de formation que l’étudiant est libre de
                choisir en France ou à l’étranger. <br><br>
            </p>
        </div>
    </div>
</section>
<section class="third_section">
    <h2>Tour d'horizon des différentes techniques</h2>
    <div class="infos_container">
        <div class="infos_image">
            <img src="{{asset('build/images/ado_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h3>Touch For Health</h3>
            <p>Dans les années 60 aux Etats-Unis, le Dr Goodheart , Chiropracteur a créé des tests de Kinésiologie
                Appliquée pour l’enseigner à des professionnels de la santé appelés "Doctors".(cf www.icak.com )

                Un de ses élèves nommé John Thie a décidé de rendre accessible à tous le test musculaire. Il a créé Le
                Touch For Health qui utilise le test musculaire et les points d’acupressure de l’énergétique chinoise
                pour permettre à tout un chacun d’identifier par test musculaire les réponses de vitalité ou d’énergie
                du corps. Au même titre que la perte de la vitalité ressentie dans nos jambes quand nous apprenons une
                mauvaise nouvelle et que nous sommes obligés de nous asseoir pour ne pas défaillir. Le Touch For Health
                est donc au fondement des kinésiologies spécialisées®.

                Les origines du stress étant multiples, de nouvelles méthodes de kinésiologie spécialisée ont vu le jour
                notamment au travers de la kinésiologie dite émotionnelle ou la kinésiologie éducative.

                Aujourd’hui, la kinésiologie regroupent de nombreux cursus de formation que l’étudiant est libre de
                choisir en France ou à l’étranger. <br><br>
            </p>
        </div>
    </div>
    <div class="border_bottom_2">
    </div>
    <div class="infos_container_2">
        <div class="infos_image">
            <img src="{{asset('build/images/adulte_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h3>Three In One Concept</h3>
            <p>Dans les années 60 aux Etats-Unis, le Dr Goodheart , Chiropracteur a créé des tests de Kinésiologie
                Appliquée pour l’enseigner à des professionnels de la santé appelés "Doctors".(cf www.icak.com )

                Un de ses élèves nommé John Thie a décidé de rendre accessible à tous le test musculaire. Il a créé Le
                Touch For Health qui utilise le test musculaire et les points d’acupressure de l’énergétique chinoise
                pour permettre à tout un chacun d’identifier par test musculaire les réponses de vitalité ou d’énergie
                du corps. Au même titre que la perte de la vitalité ressentie dans nos jambes quand nous apprenons une
                mauvaise nouvelle et que nous sommes obligés de nous asseoir pour ne pas défaillir. Le Touch For Health
                est donc au fondement des kinésiologies spécialisées®.

                Les origines du stress étant multiples, de nouvelles méthodes de kinésiologie spécialisée ont vu le jour
                notamment au travers de la kinésiologie dite émotionnelle ou la kinésiologie éducative.

                Aujourd’hui, la kinésiologie regroupent de nombreux cursus de formation que l’étudiant est libre de
                choisir en France ou à l’étranger. <br><br>
            </p>
        </div>
    </div>
    <div class="border_bottom_2">
    </div>
    <div class="infos_container">
        <div class="infos_image">
            <img src="{{asset('build/images/ado_kinesio.jpg') }}" alt="Un Kinésiologue qui teste un client.">
        </div>
        <div class="infos_details">
            <h3>Touch For Health</h3>
            <p>Dans les années 60 aux Etats-Unis, le Dr Goodheart , Chiropracteur a créé des tests de Kinésiologie
                Appliquée pour l’enseigner à des professionnels de la santé appelés "Doctors".(cf www.icak.com )

                Un de ses élèves nommé John Thie a décidé de rendre accessible à tous le test musculaire. Il a créé Le
                Touch For Health qui utilise le test musculaire et les points d’acupressure de l’énergétique chinoise
                pour permettre à tout un chacun d’identifier par test musculaire les réponses de vitalité ou d’énergie
                du corps. Au même titre que la perte de la vitalité ressentie dans nos jambes quand nous apprenons une
                mauvaise nouvelle et que nous sommes obligés de nous asseoir pour ne pas défaillir. Le Touch For Health
                est donc au fondement des kinésiologies spécialisées®.

                Les origines du stress étant multiples, de nouvelles méthodes de kinésiologie spécialisée ont vu le jour
                notamment au travers de la kinésiologie dite émotionnelle ou la kinésiologie éducative.

                Aujourd’hui, la kinésiologie regroupent de nombreux cursus de formation que l’étudiant est libre de
                choisir en France ou à l’étranger. <br><br>
            </p>
        </div>
    </div>
</section>

{% endblock %}