{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('contact') }}

{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
<div class="flash_container">
    <div class="success">
        {{ message }}
    </div>
</div>

{% endfor %}
<section class="first_section">
    <h2>Réservation</h2>
    <div class="infos_container">
        <div class="infos_details">
            <p>Vous pouvez réserver directement un créneau en utilisant le calendrier.
            </p>
        </div>
        <!-- Début de widget en ligne Calendly -->
        <div class="calendly-inline-widget"
            data-url="https://calendly.com/courgeon-mathilde-kinesiologie/rdv-kinesiologie?hide_gdpr_banner=1&primary_color=286f6f&background_color=fff3ee"
            style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Fin de widget en ligne Calendly -->
    </div>
    <span class="button_container">
        <!-- Début de widget de lien Calendly -->
        <div class="calendly_container">
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
            <a href=""
                onclick="Calendly.initPopupWidget({url: 'https://calendly.com/courgeon-mathilde-kinesiologie/rdv-kinesiologie?primary_color=286f6f'});return false;">Réservation</a>

        </div>
        <!-- Fin de widget de lien Calendly -->
    </span>
</section>
<section class="second_section">
    <h2>Contact</h2>
    <div>
        <p>Pour me contacter rapidement, merci de remplir le formulaire suivant. <br>
        Je reviendrais vers vous dès que possible.</p>
    </div>
    <div class="form_container">
        <div class="form">
            {{ form_start(form) }}
            <div class=" nom_prenom">
                <div class=" nom">
                    {{form_errors(form.nom) }}
                    {{form_label(form.nom) }}
                    {{form_widget(form.nom) }}
                </div>
                <div class=" prenom">
                    {{form_errors(form.prenom) }}
                    {{form_label(form.prenom) }}
                    {{form_widget(form.prenom) }}
                </div>
            </div>
    
            <div class=" telephone_email">
                <div class=" telephone">
                    {{form_errors(form.telephone) }}
                    {{form_label(form.telephone) }}
                    {{form_widget(form.telephone) }}
                </div>
                <div class=" email">
                    {{form_errors(form.email) }}
                    {{form_label(form.email) }}
                    {{form_widget(form.email) }}
                </div>
            </div>
    
            <div class=" message">
                {{form_errors(form.message) }}
                {{form_label(form.message) }}
                {{form_widget(form.message) }}
            </div>
    
            {{ form_row(form._token) }}
            <div id="contact_button_container">
                <button type="submit" class="lined thick" id="form_button">{{ button_label|default('Envoyer la demande') }}</button>
            </div>
    
            {{form_end(form) }}
        </div>
</section>
<section class="third_section">
    <h2>Informations pratiques</h2>
    <div class="infos_container third_section_infos_container">
        <div class="map-responsive" id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9084.811818746504!2d0.7008523428001547!3d47.39378256088674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fcd44924abd803%3A0xdb4758b1b08c87d4!2s110%20Rue%20du%20Rempart%2C%2037000%20Tours!5e0!3m2!1sfr!2sfr!4v1680182397919!5m2!1sfr!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <div class="infos_details">
            <p>Mon cabinet est situé au 110, rue du Rempart, à Tours. <br><br>
                Je suis joignable au <a href="tel:+33674752172">06 00 00 00 00</a> , par <a
                    href="{{path('contact') }}">le formulaire de contact</a> ou par mail : <a href="mailto:"><span
                        style="unicode-bidi:bidi-override; direction: rtl;">
                        moc.tset@tcatnoc</span></a>
            </p>
            <p>
                Je vous reçois de 8h30 à 18h00 du lundi au samedi.
            </p>
            <p>
                Mon local ne me permet malheureusement pas de recevoir des personnes en fauteuil roulant, mais je peux
                me déplacer à domicile. <br> Contactez-moi pour en discuter!
            </p>
        </div>
    </div>
</section>
{% endblock %}