{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('contact') }}

{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
<div class="flash_container">
    <div class="success">
        {{ message }}
    </div>
</div>

{% endfor %}
<section class="first_section">
    <h2>Réservation Kinésiologie</h2>
    <div class="infos_container">

        <!-- Début de widget en ligne Calendly -->
        <div class="calendly-inline-widget"
            data-url="https://calendly.com/courgeon-mathilde-kinesiologie/rdv-kinesiologie?hide_gdpr_banner=1&primary_color=286f6f&background_color=F9F9F9&text_color=0d4442"
            style="min-width:320px;height:700px;">
            <div class="infos_details">
                <p>Vous pouvez réserver directement un créneau en utilisant le calendrier.
                </p>
            </div>
        </div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Fin de widget en ligne Calendly -->
    </div>
    <span id="before_contact" class="button_container">
        <!-- Début de widget de lien Calendly -->
        <div class="calendly_container">
            <div class="infos_details">
                <p>Vous pouvez réserver directement un créneau en cliquant sur le bouton ci-dessous.
                </p>
            </div>
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
            <div class="button_container">
                <a id="rdv" href=""
                    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/courgeon-mathilde-kinesiologie/rdv-kinesiologie?primary_color=286f6f&background_color=F9F9F9&text_color=0d4442'});return false;">  <svg class="svg h-7 w-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path strokelinecap="round" strokelinejoin="round" strokewidth="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                    </svg> Prendre rendez-vous</a>   
            </div>
                      
        </div>
        <!-- Fin de widget de lien Calendly -->
    </span>
</section>
<section class="third_section">
    <h2>Informations pratiques</h2>
    <div class="infos_container third_section_infos_container">
        <div class="map-responsive" id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9084.811818746504!2d0.7008523428001547!3d47.39378256088674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fcd44924abd803%3A0xdb4758b1b08c87d4!2s110%20Rue%20du%20Rempart%2C%2037000%20Tours!5e0!3m2!1sfr!2sfr!4v1680182397919!5m2!1sfr!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <div class="infos_details">
            <p>Mon cabinet est situé au <strong>110, rue du Rempart</strong>, à Tours. <br>
                Je vous invite à arriver pour l'heure exacte du rendez-vous car le cabinet ne dispose pas de salle
                d'attente.
            </p>
            <ul>
                <p>
                    <strong>Accès :</strong>
                </p>
                <li>
                    A 10 minutes à pied de la gare (750m)
                </li>
                <li>
                    Arrêt de bus à quelques mètres (arrêt "Rempart", ligne 4 et 15) et sur le boulevard Heurteloup à 1
                    minute
                    (arrêt "Mirabeau", multiples lignes)
                </li>
                <li>
                    Sortie "Tours Centre" depuis l'autoroute A10 à proximité immédiate
                </li>
            </ul>
            <p>
                Je suis joignable au <a href="tel:+33749588520">07 49 58 85 20</a> , <br> par <a
                    href="{{path('contact') }}#before_contact">le formulaire de contact,</a> <br> ou par mail :
                <script type="text/JavaScript">
                    var part1 = "contact";
                    var part2 = Math.pow(2,6);
                    var part3 = String.fromCharCode(part2);
                    var part4 = "mc-kinesiologie.fr"
                    var part5 = part1 + String.fromCharCode(part2) + part4;
                    document.write("<a href=" + "mai" + "lto" + ":" + part5 + ">" + part1 + part3 + part4 + "</a>");
                </script>
                </a>
            </p>
            <p>
                Je vous reçois de 09h00 à 19h00 du lundi au vendredi, <br> et de 09h00 à 12h30 le samedi.
            </p>
            <p>
                Le cabinet n'ayant pas d'accès PMR, je peux exceptionnellement me déplacer dans une zone proche de
                Tours.
                Je vous invite à me contacter directement pour connaître les modalités et tarifs spécifiques.
            </p>
        </div>
    </div>
</section>

<section class="second_section" id="contact">
    <h2>Contact</h2>
    <div>
        <p>Pour me contacter, merci de remplir le formulaire suivant. <br>
            Je reviendrai vers vous dès que possible.</p>
    </div>
    <div class="form_container">
        <div class="form">
            {{ form_start(form) }}
            <div class=" nom_prenom">
                <div class=" nom">
                    {{form_errors(form.nom) }}
                    {{form_label(form.nom) }}
                    {{form_widget(form.nom) }}
                </div>
                <div class=" prenom">
                    {{form_errors(form.prenom) }}
                    {{form_label(form.prenom) }}
                    {{form_widget(form.prenom) }}
                </div>
            </div>

            <div class=" telephone_email">
                <div class=" telephone">
                    {{form_errors(form.telephone) }}
                    {{form_label(form.telephone) }}
                    {{form_widget(form.telephone) }}
                </div>
                <div class=" email">
                    {{form_errors(form.email) }}
                    {{form_label(form.email) }}
                    {{form_widget(form.email) }}
                </div>
            </div>

            <div class=" message">
                {{form_errors(form.message) }}
                {{form_label(form.message) }}
                {{form_widget(form.message) }}
            </div>

            {{ form_row(form._token) }}
            <div id="contact_button_container">
                <button type="submit" class="lined thick" id="form_button">{{ button_label|default('Envoyer la demande')
                    }}</button>
            </div>

            {{form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}