{% block stylesheets %}
{{ encore_entry_link_tags('footer') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('footer') }}
{% endblock %}

{% block footer %}
<footer id="footer">
    <div id="footer_link_container">

        <div id="footer_left_link_container">
            <span class="social_logos">
                <a href="https://www.facebook.com/mc.kinesiologie/" target="_blank">
                    <img src="{{ asset('build/images/facebook_green.png') }}" alt="Le logo de Facebook">
                </a>
                <a href="https://www.instagram.com/mc.kinesiologie/" target="_blank"> 
                    <img src="{{asset ('build/images/instagram_green.png') }}" alt="Le logo d'Instagram">
                </a>
            </span>
            <a href="{{ path('kinesiologie') }}">La Kinésiologie</a>
            <a href="{{path('practical_informations') }}">Infos pratiques</a>
        </div>
        <div id="footer_center_link_container">
            <a href="{{ path('home') }}">
                <img id="footer_logo" src="{{asset('build/images/logo_MCK_transparent_green.png') }}"
                    alt="Le logo du cabinet de Kinésiologie">
            </a>
        </div>
        <div id="footer_right_link_container">
                <a href="{{ path('dream-machine') }}">Dream Machine</a>
            <a href="{{ path('contact') }}">Contact & réservation</a>
            <a href="{{ path('about_me') }}">À propos</a>
            <a href="{{path('cgv') }}">CGV</a>
        </div>

    </div>
    <div class="copyright">
        <p>Site créé par <a href="https://www.kevinroig.myknives.net" target="_blank">Kevin Roig</a></p>
    </div>
</footer>
{% endblock footer %}