{% block stylesheets %}
{{ encore_entry_link_tags('header') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('header') }}
{% endblock %}

{% block header %}
<nav id="nav_bar">
    <div id="main_container">
        <div id="link_container">
            <div id="left_link_container">
                <span id="home_logo_container">
                    <a href="{{path('home') }}">
                        <img id="home_logo" src="{{asset('build/images/logo_website_home.png') }}"
                            alt="un logo home pour revenir à l'accueil du site">
                    </a>
                </span>
                <span class="dropdown">
                    <a href="{{ path('kinesiologie') }}" class="dropdown-menu">La Kinésiologie</a>
                </span>
                <span>
                    <a href="{{path('practical_informations') }}">Infos pratiques</a>
                </span>
            </div>
            <div id="center_link_container">
                <span>
                    <a href="{{ path('home') }}">
                        <div id="logo">
                            <img src="{{asset('build/images/logo_MCK_transparent.png') }}" alt="Le logo du cabinet de Kinésiologie"
                                width="450px">
                        </div>
                    </a>
                </span>

            </div>
            <div id="right_link_container">
                <span>
                    <a href="{{ path('contact') }}">Contact</a>
                </span>
                <span>
                    <a href="{{ path('about_me') }}">À propos</a>
                </span>
            </div>
            <div id="menuToggle">
                <input type="checkbox" id="burger" />
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul id="menu">
                    <a href="{{path('home') }}">
                        <li><img id="home_logo" src="{{asset('build/images/logo_website_home.png') }}"
                                alt="un logo home pour revenir à l'accueil du site"></li>
                    </a>
                    <li class="dropdown-mobile" id="dropdown-mobile">
                        <a href="{{ path('kinesiologie') }}" class="dropdown-menu-mobile" id="dropdown-menu-mobile">La Kinésiologie</a>
                    </li>
                    <a href="{{path('practical_informations') }}">
                        <li>Infos pratiques</li>
                    </a>
                    <a href="{{ path('contact') }}">
                        <li>Contact</li>
                    </a>
                    <a href="{{ path('about_me') }}">
                        <li>À propos</li>
                    </a>
                </ul>
            </div>

        </div>
    </div>
</nav>
{% endblock header %}

<body>
    {% block body %}{% endblock %}
</body>

</html>