{% block stylesheets %}
{{ encore_entry_link_tags('header') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('header') }}
{% endblock %}

{% block header %}
<nav id="nav_bar">
    <div id="main_container">
        <div id="link_container">
            <div id="left_link_container">
                <span id="home_logo_container" class="link">
                    <a href="{{path('home') }}">
                        <img id="home_logo" src="{{asset('build/images/logo_website_home.png') }}"
                            alt="un logo home pour revenir à l'accueil du site">
                    </a>
                </span>
                <span class="link">
                    <a href="{{ path('kinesiologie') }}">La Kinésiologie</a>
                </span>
                <span class="link">
                    <a href="{{path('practical_informations') }}">Infos pratiques</a>
                </span>
            </div>
            <div id="center_link_container">
                <span class="link">
                    <a href="{{ path('home') }}">
                        <div id="logo">
                            <img src="{{asset('build/images/logo_MCK_transparent.png') }}"
                                alt="Le logo du cabinet de Kinésiologie" width="450px" title="Retour à l'accueil">
                        </div>
                    </a>
                </span>

            </div>
            <div id="right_link_container">
                <span class="link">
                    <a href="{{ path('dream-machine') }}">Dream Machine</a>
                </span>
                <span class="link">
                    <a href="{{ path('contact') }}">Contact & réservation</a>
                </span>
                <span class="link">
                    <a href="{{ path('about_me') }}">À propos</a>
                </span>
                <span class="social_logos">
                    <a class="link" href="https://www.facebook.com/mc.kinesiologie/" target="_blank">
                        <img src="{{ asset('build/images/facebook.png') }}" alt="Le logo de Facebook">
                    </a>
                    <a class="link" href="https://www.instagram.com/mc.kinesiologie/" target="_blank"> 
                        <img src="{{asset ('build/images/instagram.png') }}" alt="Le logo d'Instagram">
                    </a>
                </span>
            </div>
            <div id="menuToggle">
                <input type="checkbox" id="burger" />
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul id="menu">
                    <li class="link">
                        <a href="{{path('home') }}">
                            <img id="home_logo" src="{{asset('build/images/logo_website_home.png') }}"
                                alt="un logo home pour revenir à l'accueil du site">
                        </a>
                    </li>
                    <li class="link">
                        <a href="{{ path('kinesiologie') }}">La Kinésiologie</a>
                    </li>
                    <li class="link">
                        <a href="{{path('practical_informations') }}">
                            Infos pratiques
                        </a>
                    </li>
                    <li class="link">
                        <a href="{{ path('dream-machine') }}">
                            Dream Machine
                        </a>
                    </li>
                    <li class="link">
                        <a href="{{ path('contact') }}">
                            Contact & réservation
                        </a>
                    </li>
                    <li class="link">
                        <a href="{{ path('about_me') }}">
                            À propos
                        </a>
                    </li>
                    <li>
                        <span class="social_logos">
                            <a class="link" href="https://www.facebook.com/mc.kinesiologie/" target="_blank">
                                <img src="{{ asset('build/images/facebook.png') }}" alt="Le logo de Facebook">
                            </a>
                            <a class="link" href="https://www.instagram.com/mc.kinesiologie/" target="_blank"> 
                                <img src="{{asset ('build/images/instagram.png') }}" alt="Le logo d'Instagram">
                            </a>
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
{% endblock header %}